.hero_image {
  background-image: url(/assets/bergenhavn.png);
  height: 765px;
  max-width: 1920px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero_content {
  padding-top: 275px;

  h1 {
    color: white;
    margin-bottom: 45px;
  }

  p {
    color: white;
  }

  .btn {
    border: none;
    outline: none;

    &:active {
      background-color: red !important;
    }

    &:hover {
      background-color: red !important;
    }
  }
}
