.hero_image {
  background-image: url(/assets/hero-image.jpg);
  height: 1500px;
  max-width: 1920px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero_content {
  padding-top: 200px;

  h1 {
    color: white;
    margin: 50px auto;
    font-size: 60px;
    @media (max-width: 600px) {
      font-size: 40px;
      margin: 5px 5px 20px 5px;
    }
  }

  p {
    color: white;
  }

  .btn {
    border: none;
    outline: none;

    &:active {
    }

    &:hover {
    }
  }
}
